.component {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}

.mission li {
  padding-left: 35px;
  background: url(../../static/img/checked.svg) no-repeat left 2px;
  background-size: 26px;
}

#about {
  padding-bottom: 150px;
  padding-top: 0px;
}

#about::after {
  content: '';
  position: absolute;
  bottom: -50px;
  height: 100px;
  width: 100%;
  transform: matrix(2, -0.1, 0, 1, 0, 0);
  background-color: #fcee21;
}

#services .offer {
  background-color: #fff;
  padding: 40px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 400ms ease-in-out;
  position: relative;
  height: 100%;
}

#services .offer:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#services .offer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: none !important;
}

/* Why Jack */

#why-jack {
  padding-bottom: 170px;
}

#why-jack::after {
  content: '';
  position: absolute;
  bottom: -50px;
  height: 100px;
  width: 100%;
  transform: matrix(2, 0.1, 0, 1, 0, 0);
  background-color: #e9ecef;
}

/* Event */

#events {
  padding-bottom: 150px;
}

#events::after {
  content: '';
  position: absolute;
  bottom: -50px;
  height: 100px;
  width: 100%;
  transform: matrix(2, 0.1, 0, 1, 0, 0);
  background-color: #fcee21;
}

.item-event-video {
  width: 100%;
  height: 320px;
  overflow: hidden;
  position: relative;
}

.item-event-play, .item-map-play {
  background-color: rgba(0, 0, 0, 0.49) !important;
  border:none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 400ms ease-in-out;
  opacity: 0;
  cursor: pointer;
}

.item-event-play:hover, .item-map-play:hover {
  opacity: 1;
}

.item-map-background {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.item:hover .item-map-background {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}

/* blog */

.item-blog-image {
  position: relative;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #fff;
}

.item-blog-image::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #020f2f 5%, rgba(0, 0, 0, 0) 60%);
  opacity: 0.8;
}

.item-blog-title {
  position: absolute;
  z-index: 0;
  padding: 1.5rem;
  bottom: 0;
}

.item-blog-created {
  color: #6c757d;
  border-bottom: 1px solid #e9ecef;
  font-size: 16px;
}

.item-blog-content {
  background-color: #fff;
  padding: 2rem;
}


.modal-iframe .iziModal-header-title {
  color: #051129 !important;
  font-size: 2em !important;
}


.iziModal-navigate button {
  outline: none !important;
  box-shadow: none !important;
}

#contact {
  padding-bottom: 100px;
}

#contact .swiper-container {
  z-index: 0;
}

.festival-logos {
  width: 200px;
  height: 200px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
  background-color: #f8f9fa;
  margin: auto;
  transition: transform 500ms ease-in-out;
}
.festival-logos:hover {
  transform:rotate(360deg);
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #051129;
  width: 12px;
  height: 12px;
}
@media (min-width: 568px) {
  .mission li {
    padding-left: 55px;
    background-size: unset;
  }
}

@media (min-width: 731px) {
  .item-blog {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 731px) {
  #blog .row .col-12:not(:first-child) .item-blog {
    flex-direction: row-reverse;
  }
}

@media (min-width: 731px) {
  .item-blog-image {
    width: 60%;
  }
}

@media (min-width: 731px) {
  .item-blog-title {
    width: 90%;
  }
}

@media (min-width: 731px) {
  #blog .row .col-12:not(:first-child) .item-blog-title {
    right: 0;
    text-align: right;
  }
}

@media (min-width: 731px) {
  .item-blog-content {
    margin-left: -2rem;
    z-index: 0;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: 400ms ease-in-out;
  }
}

@media (min-width: 731px) {
  .item-blog:hover .item-blog-content {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
  }
}

@media (min-width: 731px) {
  #blog .row .col-12:not(:first-child) .item-blog-content {
    margin-left: 0;
    margin-right: -2rem;
  }
}

@media (min-width:991px) {
  #about {
    background: url(../../static/img/axetarget.png) no-repeat right bottom;
    background-size: 45%;
  }
}

@media (min-width:1200px) {
  #about {
    background-position: right top;
  }
}
