.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.topinfo {
  color: #fff;
  font-weight: 500;
}

.topinfo img {
  max-width: unset;
}

.topinfo a {
  color: #fff !important;
  text-decoration: none !important;
}