.header {
  z-index: 1;
  position: relative;
}

.topinfo {
  color: #fff;
  font-weight: 500;
}

.topinfo img {
  max-width: unset;
}

.topinfo a {
  color: #fff !important;
  text-decoration: none !important;
}