/*  hero  */

.hero {
  height: 110vh;
  position: relative;
  overflow: hidden;
  background: url(../../static/img/herobg.jpg) no-repeat left center;
  background-size: cover;
}

.hero::after {
  content: '';
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 150px;
  background-color: #fff;
  transform: matrix(2, 0.1, 0, 1, 0, 0);
}

.video-background {
  background: #000;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -99;
}

.video-background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  display: flex;
  align-items: center;
  height: 100vh;
  padding-top: 100px;
}

.hero-heading {
  color: #fcee21;
  font-size: 10vw !important;
  line-height: 1;
  text-shadow: 0px 2px 0px #000;
}

.hero-subheading {
  font-size: 7vw !important;
  color: #fcee21;
}

.hero-text {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

.hero-main {
  position: relative;
  padding: 200px 0 120px 0;
  background: url(../../static/img/heromain.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.hero-main::after {
  content: '';
  position: absolute;
  bottom: -50px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  transform: matrix(2, 0.1, 0, 1, 0, 0);
}

.sticky .menu-container {
  position: fixed;
  background: #050F28;
  z-index: 999;
  width: 100%;
  /*height: 200px;*/
}

.sticky .top-details {
  display: none !important;
}

.sticky .nav-brand {
  float: left;
}

.sticky .nav-brand img {
  max-width: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.imSticky {
  transform: unset !important;
}

.menu-container
/*  end of hero  */

@media (min-width:360px) {
  .hero-content {
    padding-top: 50px;
  }
}

@media (min-width: 568px) {
  .hero {
    height: 215vh;
  }
}

@media (min-width: 568px) {
  .hero-content {
    height: 200vh;
  }
}

@media (min-width: 568px) {
  .hero-heading {
    font-size: 48.83px !important;
  }
}

@media (min-width: 568px) {
  .hero-subheading {
    font-size: 31.25px !important;
  }
}

@media (min-width:768px) {
  .hero {
    height: 110vh;
  }
}

@media (min-width:768px) {
  .hero-content {
    padding-top: 200px;
    height: 100vh;
  }

  .hero-main {
    padding: 280px 0 120px 0;
  }
}

@media (min-width: 812px) and (max-width:991px) {
  .hero {
    height: 215vh;
  }
}

@media (min-width: 812px) and (max-width:991px) {
  .hero-content {
    height: 200vh;
  }
}

@media (min-width: 812px) and (max-width:991px) {
  .hero-heading {
    font-size: 48.83px !important;
  }
}

@media (min-width: 812px) and (max-width:991px) {
  .hero-subheading {
    font-size: 31.25px !important;
  }
}

@media (min-width: 992px) {
  .hero {
    height: 100vw;
  }

  .hero-heading {
    font-size: 68.66px !important;
  }

  .hero-subheading {
    font-size: 31.25px !important;
    color: #fcee21;
  }

  .hero-content {
    height: 100vw;
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .hero-content {
    padding-top: 150px;
  }

  .video-background {
    display: block;
  }

  .hero {
    background-image: none;
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 140vh;
  }

  .hero-content {
    padding-top: 300px;
    height: 100vh;
  }
}
