/*  hero  */
.hero {
  position: relative;
  overflow: hidden;
}

.hero::after {
  content: '';
  position: absolute;
  bottom: -80px;
  width: 100%;
  height: 150px;
  background-color: #fff;
  transform: matrix(2, 0.1, 0, 1, 0, 0);
}

.video-background {
  background: url(../../static/img/herobg.jpg) no-repeat left center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.video-background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.video-background iframe {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hero-content {
  display: flex;
  align-items: center;
  padding: 100px 0 250px 0;
}

.hero-heading {
  color: #fcee21;
  font-size: 10vw !important;
  line-height: 1;
  text-shadow: 0px 2px 0px #000;
}

.hero-subheading {
  font-size: 7vw !important;
  color: #fcee21;
}

.hero-text {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

.hero-main {
  position: relative;
  padding: 120px 0;
  overflow: hidden;
}

.hero-main-bg {
  background: url(../../static/img/heromain.jpg) no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero-main::after {
  content: '';
  position: absolute;
  bottom: -50px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  transform: matrix(2, 0.1, 0, 1, 0, 0);
}

.imSticky {
  transform: unset !important;
}
.menu-container {
  padding: 1.5rem 0;
  transition: 400ms ease-in-out;
}
.sticky .menu-container {
  background: #050F28;
  z-index: 999;
  width: 100%;
  padding: 0.75rem 0 !important;
}

.sticky .top-details {
  display: none !important;
}

.sticky .nav-brand {
  float: left;
}

.sticky .nav-brand img {
  max-width: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
}


/*  end of hero  */


@media (min-width: 568px) {
  .hero-heading {
    font-size: 48.83px !important;
  }
}

@media (min-width: 568px) {
  .hero-subheading {
    font-size: 31.25px !important;
  }
}


@media (min-width:768px) {

  .hero-main {
    padding: 150px 0 120px 0;
  }
}



@media (min-width: 812px) and (max-width:991px) {
  .hero-heading {
    font-size: 48.83px !important;
  }
}

@media (min-width: 812px) and (max-width:991px) {
  .hero-subheading {
    font-size: 31.25px !important;
  }
}

@media (min-width: 992px) {


  .hero-heading {
    font-size: 68.66px !important;
  }

  .hero-subheading {
    font-size: 31.25px !important;
    color: #fcee21;
  }

}


@media (min-width: 1200px) {
  .hero {
    min-height: 100vh;
  }

  .hero-content {
    padding: 100px 0 150px 0;
  }
}
